p{

}

body{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
	background-color: #EDD9D9;
	text-align: left;
}

.profile_picture{
	max-width: 20%;
	width: 20px;
	color: #87B827;

}
#absolute_header {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	background-color: #5FED6F;
	min-height: 100px;
}
#absolute_header #logo {
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	height: px;
	margin-bottom: 10px;
	-webkit-box-shadow: 3px 2px #000000;
	box-shadow: 3px 2px #000000;
	border: thin ridge #060606;

}
#absolute_header #search_box {
	float: left;
	left: 0px;
	padding-left: 10px;
	border-color: #1644C0;
	margin-top: 10px;
	margin-left: 20px;
	width: 300px;
	height: auto;
	background-color: #E8E8E8;
}
#absolute_header #navigation {
	margin-top: 10px;
	margin-bottom: 0px;
	float: left;
	clear: left;
	overflow-x: visible;

}
#absolute_header #navigation nav ul li {
}
#profile_picture {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-color: #D8C0C0;
	border-style: solid;
}
#main_body #about_me {
	width: 280px;
	border: thin solid #52BFD5;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 20px;
}
#main_body #info {
	width: 300px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-color: #000000;
	background-color: #BFBFBF;
	-webkit-box-shadow: 5px 5px 5px 5px #000000;
	box-shadow: 5px 5px 5px 5px #000000;
}
#main_body {
	background-color: #87E0E8;
	min-height: 1000px;
}
#main_body #activities {
	width: 500px;
	height: 800px;
	background-color: #F1F4C1;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	left: 0px;
	clear: right;
}
#main_body #activities .post .post_header {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border: thin dotted #73D7E0;
	width: 100%;
	font-style: italic;
	background-color: #FDB2B4;
}
#main_body #activities .post p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #C6EDED;
}
#main_body #activities .post {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 0px;
	border-collapse: separate;
	border: medium groove #88ECF1;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #DFDFDF;
}
#main_body #rankings {
	float: right;
	clear: right;
	width: 500px;
	background-color: #EFF368;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
#absolute_header #navigation nav ul li {
	display: inline;
	border-style: solid;
	border-width: 1px;
	margin-right: 0px;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
	width: auto;
	background-color: #FB7B6E;
	-webkit-box-shadow: 3px 2px #F0E65E;
	box-shadow: 3px 2px #F0E65E;
}
body div header {
}
#main_body #activities #activities_header {
	margin-left: 20px;
	margin-top: 0px;
	color: #13374B;
	font-style: italic;
	font-weight: bold;
	background-color: #D0E0B1;
}
#footer {
	text-align: center;
}
